#container {
	background-color: blue;
	margin: auto;
	border-spacing: 5px;
}

#container td {
	background-color: white;
	margin: 10px;
	width: 75px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
}

#container #equal, #container #result {
	background-color: lightblue;
}

#container #tdResult {
	padding: 10px;
	height: 125px;
	text-align: left;
}

#container #txtOperator {
	float: right;
}